.Result__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  max-width: 550px;
  margin-inline: auto;
  margin-top: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(216, 220, 31);
}

.Result__h1,
.Result__p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Result__p {
  font-size: 20px;
}

.Result__btn {
  padding: 15px 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
  background-color: green;
  font-weight: bold;
  cursor: pointer;
  color: white;
  font-size: large;
  text-decoration: none;
}
